*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containe{
    width: 100%;
    height: 900vh;
    border: 1px solid black;
}
.navbar{
    height: 1.3%;
}
@media (max-width:1080px) {
    .navbar{
        height: auto;
    }
}
.nav-link{
    height: 6%;
}
.nav-link:hover{
    background-color: #ffc107;
}
.bg-blue{
    cursor: pointer;
    color:  #ffc107;
    font-weight: bold;
}
@media (max-width:1325px) {
    .bg-blue{
        width: 15%;
        text-align: center;
    }
}
@media (max-width:1310px) {
    .bg-blue{
        width: 10%;
        text-align: center;
    }
}
@media (max-width:992px) {
    .bg-blue{
        width: 70%;
        text-align: center;
    }
}
@media (max-width:705px) {
    .bg-blue{
        width: 70%;
        
        text-align: center;
    }
}
.bg-blue span{
    color: #fff;
    font-weight: 600;
}
form{
    width: 30%;
}
@media (max-width:1310px) {
    form{
        width: 30%;
        text-align: center;
    }
}
@media (max-width:992px) {
    .bg-blue{
        width: 50%;
        text-align: center;
    }
}
marquee{
    width: 100%;
    height: 0.5%;
    align-content: center;
    font: bold 0.9rem sans-serif;
    color: #5a01ad;
    background-color: #e7e5e5;
}
header{
    width: 100%;
    height: 9%;
    background-image: url(./iamges/FCY-card.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.cards{
    width: 91%;
    height:10%;
    margin: 0 auto;
    margin-top: 5%;
}
.card{
    width: 22%;
    height: 5%;
    text-align: center;
}
.card, img{
    overflow: hidden;
    cursor: pointer;
    transition: all 1s;
}
.card, img:hover{
    transform: scale(1.1);
}
.card-text{
    font: 0.72rem Verdana;
    color: #777676;
    list-style: 50px;
}
.way{
    width: 100%;
    height: 80vh;
    color: #fff;
    text-align: center;
    margin-top: 5%;
    padding-top:3%;
    background-color: #760199;
}
.icns{
    width: 93%;
    height: 80%;
    margin:0 auto;
    margin-top: 3%;
    border: 1px solid #fff;
}
.branch{
    width: 17%;
    height: 100%;
    text-align: center;
    border: 1px solid #fff;
}
.bran{
    width: 90%;
    height: 45%;
    color: #fff;
    margin:0 auto;
    font: 5rem poppin;
    border-radius: 100%;
    align-content: center;
    cursor: pointer;
    transition: all 1s;
    opacity: 0.7;
    background-color:  #b953d8;
}
.bran:hover{
    background-color: #ffc107;
}